<div class="row">
    <div class="col-md-6 m-auto">
    <div class="container mt-5 pl-5">
        

            
                <h2 class="text-center">Login</h2>
                <form action="/login" method="POST"  >
                {{#if loginErr}}
                    <p class="error">{{loginErr}}</p>
                {{/if}}
                    <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control" placeholder="Enter Name">
                        </div>
                        <div class="form-group">
                     <label for="">Password</label>
                    <input type="password" id="name" name="Password" class="form-control">
                    </div>
                    
                   
                    <br><br>
                    <button type="submit" class="btn btn-primary float-right" onclick="adminlogin()">Login</button>
                        
                        

                </form>
            </div>
        </div>
    </div>
<script>
    function adminlogin()
    if (document.getElementById(name).innerHTML==="admin")&&(document.getElementById(pass)==="123")
    {
        
    }
</script>